extends layout

block content
  div.container
    div.jumbotron
      h1= title
      p Welcome to #{title}

    .row
      div.col-md-6
        h1 Menu
        p This is the places menu
        ul
          for category in menu.categories
            h2= category.name
            ul
             for item in category.items
               li #{item.name} | #{item.price}
          else
            li sorry, no categories!

      div.col-md-6
        h1 Menu Creation
        p This is the places menu
        form#menuCreation
          ul
            for category in menu.categories
              h2= category.name
              ul
               for item in category.items
                 li #{item.name} | #{item.price}
            else
              li Create a category
              input(name="category")

  script(src='/admin/js/home.js')
